{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Beers {{ category.name }}</h1>
    <span>Beers:</span>
      <ul class="list-group">
        {% for beer in beers %}
          <li class="list-group-item">
            <a class="link" href="{{ path('beer', { id: beer.id }) }}">
              <br>{{ beer.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    <p>{{ category.description ?? '' }}</p>
</div>
{% endblock %}
