{% extends 'base.html.twig' %}

{% block title %}Hello BarController!{% endblock %}

{% block body %}

<div class="wrapper row">
    <div class="sidebar col-sm-6">
        Sidebar
    </div>
    <div class="bar col-sm-6">
        <h2>{{ data.title }}</h2>
        <div class="row">
            {% for card in data.content %}
                <div class="col-sm-6">
                    <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">{{ card.title }}</h5>
                          <p class="card-text">{{ card.text }}</p>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
