<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# render pass an id argument, because it can be either a category id or a beer id depending on the route name. #}
        {{
            render(controller('App\\Controller\\BarController:mainMenu', {
                'routeName' : app.request.attributes.get('_route'),
                'id' : app.request.attributes.get('id') ?? ''
            }))
        }}
        {% block body %}{% endblock %}
    </body>
</html>
